---
import Accordion from "./Accordion.vue"

const {t} = Astro.props
---
<div class="bg-gray-100 mt-20">
    <div>
        <div class="mb-4 mx-16">
            <Accordion client:visible question={t.publisher_top.faq.signup.question} content={t.publisher_top.faq.signup.content}/>
            <Accordion client:visible question={t.publisher_top.faq.signup.question} content={t.publisher_top.faq.signup.content}/>
            <Accordion client:visible question={t.publisher_top.faq.signup.question} content={t.publisher_top.faq.signup.content}/>
            <Accordion client:visible question={t.publisher_top.faq.signup.question} content={t.publisher_top.faq.signup.content}/>
            <Accordion client:visible question={t.publisher_top.faq.signup.question} content={t.publisher_top.faq.signup.content}/>
        </div>
    </div>
  </div>