---
import type { GetStaticPaths } from 'astro';
import { loadTranslation } from '../../../utils/loadTranslation';
import Layout from '../../../layouts/Layout.astro';
import PublisherTopFirstView from '../../../components/top/publisherTop/PublisherTopFirstView.astro';
// import TypesOfPublishers from '../../../components/top/publisherTop/TypesOfPublishers.vue';
import { paramsForLangPaths } from '../../../utils/paramsForLangPaths';
import Marquee from '../../../components/top/publisherTop/Marquee.astro';
import FAQ from '../../../components/top/FAQ.astro';
import Results from '../../../components/top/publisherTop/Results.astro';

export const getStaticPaths = (() => {
    return paramsForLangPaths()
}) satisfies GetStaticPaths;
const { lang } = Astro.params;
const t = await loadTranslation(lang ?? 'en_us');

---
<Layout t={t}>
    <div class="max-w-screen">
        <PublisherTopFirstView t={t} />
        <Results t={t} />
        <Marquee />
        <!-- <TypesOfPublishers t={t} client:visible /> -->
        <FAQ t={t} />
    </div>
</Layout>